body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#eef3fb;
    overflow:hidden;
}

.container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.form-box{
    width:520px;
    background:#fff;
    padding:20px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

h2{
    text-align:center;
    color:#2563eb;
    font-size:28px;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:10px;
    margin-bottom:5px;
    font-size:16px;
    font-weight:bold;
    color:#222;
}

#searchStudent,
input[type=text]{
    width:100%;
    height:42px;
    padding:0 12px;
    font-size:15px;
    border:1px solid #d1d5db;
    border-radius:8px;
    box-sizing:border-box;
    margin-bottom:10px;
}

input:focus{
    outline:none;
    border:1px solid #2563eb;
    box-shadow:0 0 6px rgba(37,99,235,.2);
}

button{
    width:100%;
    height:42px;
    margin-top:12px;
    background:#2563eb;
    color:#fff;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}

.back-btn{
    display:block;
    width:100%;
    text-align:center;
    margin-top:10px;
    padding:12px;
    background:#6b7280;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    box-sizing:border-box;
}

.back-btn:hover{
    background:#4b5563;
}

/* Search Result */

#studentList{
    width:100%;
    max-height:180px;
    overflow-y:auto;
    background:#fff;
    border:1px solid #ddd;
    border-radius:8px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    margin-bottom:10px;
}

.student-item{
    padding:12px 15px;
    cursor:pointer;
    border-bottom:1px solid #eee;
}

.student-item:hover{
    background:#2563eb;
    color:#fff;
}